.background {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0px;
}

#card1 {
    position: absolute;
    top: 20.3vh;
    left: 14.5vw;
    width: 8.5vw;
    height: 20.4vh;
    border: 1px solid blue;
}
#card2 {
    position: absolute;
    top: 20.3vh;
    left: 29.3vw;
    width: 8.5vw;
    height: 20.4vh;
    border: 1px solid blue;
}
#card3 {
    position: absolute;
    top: 20.3vh;
    left: 44vw;
    width: 8.5vw;
    height: 20.4vh;
    border: 1px solid blue;
}

#card4 {
    position: absolute;
    top: 42.7vh;
    left: 14.5vw;
    width: 8.5vw;
    height: 20.4vh;
    border: 1px solid blue;
}
#card5 {
    position: absolute;
    top: 42.7vh;
    left: 29.3vw;
    width: 8.5vw;
    height: 20.4vh;
    border: 1px solid blue;
}
#card6 {
    position: absolute;
    top: 42.7vh;
    left: 44vw;
    width: 8.5vw;
    height: 20.4vh;
    border: 1px solid blue;
}




.attackCard {
    background-image: url(/assets/attack.png) ;
}

.defendCard {
    background-image: url(/assets/defend.png);
}

.feintCard {
    background-image: url(/assets/feint.png);
}

.maneouverCard {
    background-image: url(/assets/maneuver.png);
}