.background {
    width: 100vw;
    height: 100vh;
}
#card1 {
    position: absolute;
    top: 21vh;
    left: 15.3vw;
    width: 8.5vw;
    height: 20.4vh;
    border: 1px solid blue;
}
#card2 {
    position: absolute;
    top: 21vh;
    left: 30.3vw;
    width: 8.5vw;
    height: 20.4vh;
    border: 1px solid blue;
}
#card3 {
    position: absolute;
    top: 21vh;
    left: 45vw;
    width: 8.5vw;
    height: 20.4vh;
    border: 1px solid blue;
}

.attackCard {
    background-image: url(/assets/attack.png) ;
}

.defendCard {
    background-image: url(/assets/defend.png);
}

.feintCard {
    background-image: url(/assets/feint.png);
}

.maneouverCard {
    background-image: url(/assets/maneuver.png);
}